@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #b91c1c;
}

.overflow-overlay {
  overflow: overlay;
}